<div class="contact--column">
    <div class="content posts--column" id="contact">
        <h2 class="content-head is-center">Feel free to contact me</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-sm-1-1 pure-u-md-2-5 contact--form">
                <form class="pure-form pure_form_stack" action='/contact' method='POST'>
                    <fieldset>
                        <label>Your Name</label>
                        <input type="text" name='name' placeholder="Your Name" required>

                        <label>Your Email</label>
                        <input type="email" name='email' placeholder="Your Email" required>

                        <label>Your Message</label>
                        <input type="text" name='message' placeholder="Your Message" required>

                        <input type="submit" value="Contact Me" class="pure-button">

                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-sm-1-1 pure-u-md-3-5">
                <h4>About me</h4>
                <p>
                    Former editor for one of the major Spanish website, I've been writing
                    stories about technology for some years now. I felt in love with the arts
                    of web development during a coding bootcamp. Based in Barcelona, Spain, I
                    love to travel and I'm curious of everything.

                    I also follow with a deep interest all the social networks. Digital marketing,
                    social media engagement: those are some of the topics I'm passionate about.
                </p>

                <h4>Board culture</h4>
                <p>I'm addicted to board sports, especially skateboarding
                    and surfing. Since nearly 20 years, I've been switching boards,
                    according to the weather conditions. I've developed a deep interest on how
                    the board culture impacts technology, videography, fashion and music.
                </p>
            </div>
        </div>
    </div>
</div>
